@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Custom classes */
.message-sticker-container { 
  @apply border border-slate-200/60 mt-1 rounded-md p-1 
}

.messages-container { 
  @apply border border-slate-200/60 px-4 py-2 my-2 text-slate-500 rounded-md relative
}